.hero{
				display:flex;
				align-items:center;
				justify-content:space-between;
				padding:60px;
				border-radius:30px;
				background:linear-gradient(90deg,#000000,#0f3d2e);
				color:white;
				margin-bottom:60px;
			}

			.hero-text{
				width:50%;
			}

			.hero-text h1{
				font-size:40px;
				margin-bottom:10px;
			}

			.hero-text h2{
				color:#1DB954;
				font-size:28px;
				margin-bottom:20px;
			}

			.hero-text p{
				font-size:14px;
				line-height:1.6;
				margin-bottom:15px;
				opacity:0.9;
			}

			.hero-btn{
				display:inline-block;
				background:#1DB954;
				color:black;
				padding:12px 25px;
				border-radius:10px;
				text-decoration:none;
				font-weight:600;
				transition:0.3s;
			}

			.hero-btn:hover{
				background:#1ed760;
			}

			.hero-image{
				width:45%;
				text-align:right;
			}

			.hero-image img{
				max-width:100%;
				border-radius:20px;
			}
			
			.hero-image{
				width:45%;
				height:400px; /* hauteur fixe du cadre */
				overflow:hidden;
				border-radius:20px;
			}

			.hero-image img{
				width:100%;
				height:100%;
				object-fit:cover;   /* L’image remplit le cadre sans se déformer */
				border-radius:20px;
			}